<h1><%= current_user.email %></h1>
<h2>Wagers</h2>
<% total_wagers = Money.new(0, "USD") %>
<% current_user.wagers.each do |wager| %>
<% total_wagers += wager.outcome.pool.wager %>
<p><%= wager.outcome.title %>: <%= wager.outcome.pool.wager %></p>
<% end %>
<h2>Total wagers: <%= total_wagers %></h2>